.container{
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media (max-width: 992px) {
    max-width: 768px;
  }
  @media (max-width: 768px){
    max-width: 640px;
  }
}
a{
  text-decoration: none;
}