.page-footer{
  background: #000000;
text-align: center;
  padding-top: 66px;
  padding-bottom: 70px;
}
.container-footer{
  max-width: 686px;
  margin: 0 auto;
}
.footer__link{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FEFEFE;
}
.footer__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $footer-color;
}
.footer__list{
  display: flex;
  justify-content: center;
  column-gap: 6px;
  margin-bottom: 34px;
}
.footer__list-contact{
  display: flex;
  column-gap: 12px;
  @media (max-width: 480px){
    flex-direction: column;
  }
}
.footer__item-contact{
  &--address{
    @include style;
  }
  &--address::after{
    content: "/";
    color: $footer-color;
    margin-left: 5px;
  }
  &--tel::after{
    content: "/";
    color: $footer-color;
    margin-left: 5px;
  }
}
.footer__tel{
  @include style;
  &--tel::after{
    content: "/";
    color: $footer-color;
  }
}
.footer__mail{
  @include style;
}
