.page-header{
  padding-top: 45px;
  padding-bottom: 51px;
  @media (max-width: 768px){
    padding-bottom: 23px;
  }
}
.page-header__nav{
  position: relative;
}
.navigation__button{
  display: none;
  @media (max-width: 768px) {
    display: block;
    width: 44px;
    height: 37px;
    background: #000000;
    border: none;
    padding: 0;
    margin-left: auto;
  }
}
.menu-btn-open{
  display: none;
}
.navigation__list{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 68px;
  margin: 0;
  padding-left: 0;
  @media (max-width: 992px){
column-gap: 35px;
  }
  @media (max-width: 768px){
    display: none;
&--active{
  display: grid;
  position: absolute;
  right: 0;
  width: 182px;
  background: #F5F5F5;
  justify-content: stretch;
}
  }
}
.navigation__link{
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  color: $main-color;
  display: flex;
  &--active{
    color: #57A4A4;
  }
  @media (max-width: 768px){
   padding: 4px 12px;
  }
}
