.recent-posts{
  padding-bottom: 69px;
}
.posts__title{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $main-color;
  margin-top: 0;
  margin-bottom: 24px;
}
.posts__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
  padding-left: 0;
  @media (max-width: 992px){
    grid-template-columns: 1fr;
  }
}
.posts__image{
  margin-right: 21px;
  grid-row: span 3;
}
.posts__item{
  display: grid;
  grid-template-columns: 160px 1fr;
  column-gap: 20px;
  @media (max-width: 480px){
    grid-template-columns: 1fr;
  }
}
.posts__item-title{
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $main-color;
  margin-top: 0;
  margin-bottom: 1px;
  @media (max-width: 480px){
    margin-top: 11px;
  }
}
.posts__link{
  color: $posts-link-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 13px;
}
.posts__text{
  color: $posts-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  @media (max-width: 480px){
    display: none;
  }
}